@charset "utf-8";

@font-face {
  font-family: "Gayathri";
  font-weight: 400;
  src: url("../fonts/Gayathri-Regular.ttf");
}

@font-face {
  font-family: "Gayathri";
  font-weight: 700;
  src: url("../fonts/Gayathri-Bold.ttf");
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}



img {
  vertical-align: bottom;
  max-width: 100%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-block {
  display: block;
}

.pc {
  display: none;
}

.sp {
  display: block;
}

/* sec-first */
.cmn-ttl {
  margin-top: -6px;
  margin-left: -4px;
  color: #FFFFFF;
  font-size: 45px;
  font-weight: 700;
}

/* common btn */
.cmn-btn {
  border: 1px solid transparent;
  background-color: var(--btn-color);
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.wapper {
  margin: 0 auto;
  max-width: 1980px;
}

.l-inner {
  width: 95%;
  margin: 0 auto;
  max-width: 1192px;
}

/* header */
.header .d-flex {
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  padding: 20px 0 47px;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}

.header.active {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  background: #fff;
}

.header-bg.active {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  background: var(--black-color);
}

.header .logo {
  width: 300px;
  padding: 24px 80px 0 0;
}

/*.header.active {
  background: #902222;
  -webkit-box-shadow: 0 1px 5px var(--bg-color);
  -moz-box-shadow: 0 1px 5px rgba(5, 3, 3, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}*/
.header .gnav li {
  width: 144px;
  line-height: 1.5;
  margin-top: 30px;
  margin-right: -14px;
  text-align: center;
}

.gnav li a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.8;
}

.header .gnav li:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.gnav li a:hover {
  font-weight: 700;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  opacity: 1;
}

.header .menu-icon {
  display: none;
}


/*.cmn-btn:hover {
  border: 1px solid var(--btn-color);
  background-color: var(--black-color);
  color: var(--btn-color);
}*/

/* tablet */
@media screen and (min-width:768px) and (max-width:1200px) {
  body {
    font-size: 2.133vw;
  }

  .l-inner {
    max-width: 102.4vw;
  }

  .tablet {
    display: none;
  }

  .pc {
    display: block;
  }

  .cmn-ttl {
    line-height: 1.2;
    margin-top: -7.084vw;
    margin-left: 0.533vw;
    color: #FFFFFF;
    font-size: 6vw;
    font-weight: 700;
  }

  /* header */
  .header .logo {
    width: 39.733vw;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    /* background-color: var(--bg-color); */
    padding: 2.667vw 0 6.133vw;
    text-align: center;
    border-bottom: 0.133vw solid var(--text-color);
  }

  .header .gnav {
    margin-left: -5.867vw;
  }

  .header .gnav li {
    width: 20.667vw;
    line-height: 1.5;
    margin-right: -6.133vw;
    text-align: center;
  }

}

/* mobile */
@media screen and (max-width:767.9px) {
  body {
    font-size: 2.4vw;
  }

  .l-inner {
    max-width: 102.267vw;
  }

  .header .logo {
    width: 40vw;
    padding: 3.333vw 2.267vw 0 0;
  }

  .header .gnav {
    position: absolute;
    top: 10.063vw;
    right: -108vw;
    width: 100%;
    padding: 13.306vw 0 3.51vw;
    background-color: var(--text-color);
    transition: all 0.5s ease;
  }

  .header .gnav.is-show {
    right: 0;
  }

  .header .gnav li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6.108vw;
  }

  .header .gnav li::after {
    width: 100%;
    height: 0.267vw;
    color: var(--black-color);
    content: "";
  }

  .header .gnav li a {
    color: var(--black-color);
  }

  .header .menu-icon {
    display: block;
    position: relative;
    width: 8.271vw;
    height: 6.308vw;
    cursor: pointer;
  }

  .header .hamburger-line {
    display: block;
    position: absolute;
    top: 78%;
    left: 1.2vw;
    width: 41%;
    height: 0.354vw;
    background-color: #FFFFFF;
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .header .hamburger-line::before,
  .header .hamburger-line::after {
    position: absolute;
    top: -10.267vw;
    right: 0vw;
    width: 100%;
    height: 70%;
    background-color: #FFFFFF;
    content: "";
    transition: inherit;
  }

  .header .hamburger-line::before {
    top: -0.97vw;
  }

  .header .hamburger-line::after {
    top: 1.07vw;
  }

  .header .menu-icon.active .hamburger-line {
    background-color: transparent;
  }

  .header .menu-icon.active .hamburger-line::before {
    top: 0;
    transform: rotate(45deg);
  }

  .header .menu-icon.active .hamburger-line::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .more-new {
    width: 79.733vw;
    margin-top: -9.733vw;
    margin-left: 9.8vw;
    padding: 0.267vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0vw 0.267vw 1.067vw 0vw;
    background-color: var(--text-color);
  }

  /* news */
  .header .menu-icon {
    display: block;
    position: relative;
    width: 8.271vw;
    height: 6.308vw;
    cursor: pointer;
  }

  .header .hamburger-line-dack {
    display: block;
    position: absolute;
    top: 78%;
    left: 1.2vw;
    width: 41%;
    height: 0.354vw;
    background-color: var(--black-color);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .header .hamburger-line-dack::before,
  .header .hamburger-line-dack::after {
    position: absolute;
    top: -10.267vw;
    right: 0vw;
    width: 100%;
    height: 70%;
    background-color: var(--black-color);
    content: "";
    transition: inherit;
  }

  .header .hamburger-line-dack::before {
    top: -0.97vw;
  }

  .header .hamburger-line-dack::after {
    top: 1.07vw;
  }

  .header .menu-icon.active .hamburger-line-dack {
    background-color: transparent;
  }

  .header .menu-icon.active .hamburger-line-dack::before {
    top: 0;
    transform: rotate(45deg);
  }

  .header .menu-icon.active .hamburger-line-dack::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .header .gnav li a::after {
    position: absolute;
    left: 14.933vw;
    width: 65%;
    height: 5.467vw;
    content: "";
    border-bottom: 0.133vw solid #141313;
  }

}