Slider
.slick-slider
{

    display: block;
    position: relative;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{

    display: block;
    position: relative;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{

    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    border: 0;
    background: none;
    color: var(--bg-color);
    font-size: 0;
}

.slick-prev {
    left: 20px;
}

.slick-prev:after {
    width: 50px;
    height: 50px;
    background: url("../img/common/icon_next_arrow.png") no-repeat center/contain;
	  content: "";
}

.slick-next {
    right: 20px;
    text-align: right;
}

.slick-next:after {
  position: absolute;
  top: 3px;
  right: 5px;
  content: url("../img/common/icon_next_arrow.png");
}

.slick-prev:hover:after,
.slick-next:hover:after {
    color: #7e7e7e;
}
/* cus */
 .slick-next {
  position: absolute;
  top: 140px;
  right: 60px;
  height: 30px;
  font-size: 0;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding-left: 43.3%;
	list-style-type: none;
	li {
			margin: 1px 7px 49px 11px;
		}
	button {
			display: block;
	width: 13px;
	height: 13px;
	padding: 6px;
	border: none;
	background-color: #686868;
	text-indent: -9999px;
	border-radius: 100%;
		}
	li.slick-active button {
			background-color: #000000;
		}
}