@charset "utf-8";

@font-face {
  font-family: "Gayathri";
  font-weight: 400;
  src: url("../fonts/Gayathri-Regular.ttf");
}

@font-face {
  font-family: "Gayathri";
  font-weight: 700;
  src: url("../fonts/Gayathri-Bold.ttf");
}

* {
  list-style: none;
  box-sizing: border-box;
}

/* global conf color */
:root {
  --text-color: #FFFFFF;
  --text-color-2: #000000;
  --bg-color: #1E1E1E;
  --btn-color: #0281F6;
  --black-color: #131313;
  --link-color: #E30000;
  --border-color: #686868;
}

body {
  background-color: var(--text-color);
  font-family: 'Gayathri',serif;
  font-size: 16px;
  font-weight: 400;
}

.wapper {
  margin: 0 auto;
  max-width: 1980px;
}
.l-inner {
  width: 95%;
  margin: 0 auto;
  max-width: 1192px;
}

/* header */
.header .d-flex {
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  /*background-color: var(--bg-color);*/
  padding: 20px 0 78px;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
}
.header .logo {
  width: 300px;
  padding: 24px 80px 0 0;
}
/*.header.active {
  background: #902222;
  -webkit-box-shadow: 0 1px 5px var(--bg-color);
  -moz-box-shadow: 0 1px 5px rgba(5, 3, 3, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}*/
.header .gnav li {
  width: 110px;
  line-height: 1.5;
  margin-right: 25px;
  text-align: center;
  margin-top:30px;
}
.gnav li a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0.8;
}
.header .gnav li:last-child {
  margin-right: 0;
}
.gnav li a:hover {
  transition: 0.8s;
  -webkit-transition: 0.8s;
  font-weight: 700;
  opacity: 1;
}
.header .menu-icon {
  display: none;
}

/* sec-frist content */
.sec-first {
  background: url("../img/top/cheaptravelnew1\ 1.png") no-repeat center/cover;
  padding: 291px 0 176px;
  text-align: center;
}
.sec-first .l-inner p , .first-disc .l-inner p {
  color: var(--text-color);
  padding-top: 48px;
  line-height: 1.2;
  font-size: 21px;
}
.more-new {
  background-color: var(--text-color);
    margin-left: 10%;
    margin-top: -62px;
    width: 80%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}
.more-new .more-ttl {
  font-size: 30px;
  color: var(--black-color);
  padding: 4px 0;
}
.new-row .bagan {
  color: var(--btn-color);
  font-size: 20px;
  padding-top: 10px;
}
.new-row .new-content .new-ttl {
  margin: 14px 0 14px 1px;
  font-size: 20px;
}
.new-row .new-content p {
  margin-bottom: 15px;
  margin-right: 195px;
}
.new-row .new-content span img {
  transform: translateY(-5px);
  margin-right: 5px;
}
.new-row .new-btn {
  border-radius: 10px;
  padding:1px 20px;
  margin-bottom: 20px;
}
/* sec-trending */
.sec-trending .l-inner {
  width: 95%;
} 
.sec-trending .trending-ttl {
  padding-top: 98px;
  padding-bottom: 41px;
  font-size: 30px;
}
.card {
  position: relative;
}

.card .card-body {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 40px;
  margin-left: 53px;
  padding: 0 0 62px;
  margin-right: 48px;
}
.card-body .card-img {
  width: 100%;
}
.card .trending-txt {
  margin-left: 20px;
}
.card .trending-txt h2 {
  margin-top: 20px;
  color: var(--btn-color);
  font-size: 18px;
  font-weight: 700;
}
.card .trending-txt p {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
.card .trending-txt span {
  padding-left: 170px;
  padding-top: 30px;
}
/* cus */
 .slick-next {
  position: absolute;
  right: 60px;
  top: 140px;
  height: 30px;
  font-size: 0;
}
/*.slick-next{
    position: absolute;
    right: 100px;
    bottom: -215px;
    font-size: 0;
    opacity: 0;
    border: none;
}*/
.slick-next::after {
  position: absolute;
  content: "a";
  background: url("../img/common/icon_next_arrow.png") no-repeat center/contain;
  width: 30px;
  height: 30px;
  opacity: 1;
}
/* Happening now section */
.sec-happening .hap-header {
  padding-top: 117px;
  padding-bottom: 37px;
  font-size: 30px;
  font-weight: 700;
}
.sec-happening ul {
  text-align: center;
  padding: 0 367px;
}
.sec-happening ul li {
  position: relative;
}
.sec-happening ul li a {
  font-weight: 700;
  font-size: 20px;
  margin-right: -14px;
  color: var(--black-color);
}
.sec-happening ul li::after {
  content: '';
  height: 4px;
  width: 100%;
  background: var(--btn-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 10px;
  transition: all 0.2s;
  opacity: 0;
}
.sec-happening ul li:hover::after , .sec-happening ul li.active {
  opacity: 1;
}
.hap-photo {
  margin-top: 102px;
  margin-bottom: 77px;
}
.left-rail {
  width: 64%;
  margin-left: 22px;
  padding-top: 10px;
}
 .left-img img {
  border-radius: 10px;
  margin-bottom: 18px;
}
.left-img {
  position: relative;
}
.left-img .img-txt {
  position: absolute;
  color: var(--text-color);
  bottom: 57px;
  left: 43px;
  font-size: 18px;
}
.left-img .img-txt h3 {
  margin-bottom: 13px;
  font-size: 20px;
}
.left-img .img-txt p {
  margin-bottom: 24px;
  font-size: 16px;
}
.left-img .img-txt span {
  margin-bottom: 10px;
}
.right-rail {
  width: 32%;
  margin-top: 9px;

}
.right-card {
  margin-bottom: 21px;
}
.right-card img {
  width: 360px;
  border-radius: 10px;
  height: 210px;
  margin-bottom: 22px;
}
.right-card .right-txt h3 {
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 700;
}

/* footer */
.footer {
  color: var(--text-color);
  background-color: var(--black-color);
  padding: 40px 0 72px;
}
.sec-footer {
  padding-top: 15px;
  margin-left: 58px;
}
.sec-footer ul {
  padding-right: 49px;
}

.sec-footer ul:nth-child() {
  padding-right: 0;
}
.sec-footer ul li a {
  color: var(--text-color);
  padding: 5px 0;
}
.input-group {
  position: relative;
} 
.input input {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 6px;
  padding: 10px 93px 11px 17px;
}
.input::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 253px;
  right: 0;
  background: url(../img/top/icon_input.png) no-repeat center/contain;
  transform: translateY(20px);
}
.input img {
  position: relative;
}
::placeholder {
  color: var(--border-color);
  font-size: 15px;
}
.footer .social {
  padding-top: 1px;
}
.footer .social img{
  margin: 14px 18px 0 0px;
}

/* discovery */
.first-disc {
  background: url("../img/discovery/img_discovery_bg.png") no-repeat center/cover;
  padding: 291px 0 191px;
  text-align: center;
}
.first-disc .l-inner p {
  color: var(--text-color);
  padding-top: 26px;
  line-height: 1.2;
  font-size: 21px;
}
/* sec-disc */
.sec-disc {
  margin-bottom: 54px;
}
.sec-disc .left-disc {
  width: 30%;
}
.left-disc h3 {
  font-size: 45px;
  font-weight: 700;
  padding: 100px 0 47px;
  line-height: 1.2;
}
.left-disc .txt-top {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.2;
}
.left-disc .txt-under {
  margin-bottom: 150px;
  font-size: 18px;
  line-height: 1.2;
}
.right-disc {
  width: 61.3%;
  margin-top: 100px;
}
.right-disc .profile-card .card-ttl{
  width: 50%;
}
.profile-card .card-ttl img {
  width: 42px;
  margin-bottom: 46px;
}
.profile-card .card-ttl .ttl {
  padding: 14px 114px 0 0;
  font-size: 30px;
  color: var(--btn-color);
  font-weight: 700;
}
.right-disc .profile-card {
  margin-bottom: 89px;
}
.right-disc .profile-card p {
  padding-bottom: 47px;
  font-size: 17px;
  word-spacing: 3px;
  width: 96%;
}
.right-disc .profile-card span img {
  transform: translateY(-4px);
  margin-right: 10px;
}
.right-disc .profile-card:nth-child() {
  margin-bottom: 50px;
}
.right-disc iframe {
  margin-top: 5px;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 5px;
}

/* tablet */
@media screen and (min-width:768px) and (max-width:1200px) {
  
  /* header */
  .header .logo {
    width: 313px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    /* background-color: var(--bg-color); */
    padding: 20px 0 46px;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
}
  .header .gnav {
    margin-left: 1px;
  }
  .header .gnav li {
    width: 155px;
    line-height: 1.5;
    margin-right: -46px;
    text-align: center;
}
.sec-first {
  background: url("../img/top/img_tablet_cover.png") no-repeat center/cover;
  padding: 291px 0 206px;
  text-align: center;
}
.sec-first .l-inner p, .first-disc .l-inner p {
  color: var(--text-color);
  padding-top: 24px;
  line-height: 1.2;
  font-size: 21px;
}
.more-new {
  background-color: var(--text-color);
  margin-left: 11px;
  margin-top: -93px;
  width: 97%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.more-new .more-ttl {
  font-size: 30px;
  color: var(--black-color);
  padding: 18px 3px 0;
}

.new-row .bagan {
  color: var(--btn-color);
  font-size: 20px;
  padding-top: 19px;
  margin-left: 5px;
}
.new-content {
  width: 422px;
}
.new-row .new-content .new-ttl {
  margin: 18px 0 14px 12px;
  font-size: 20px;
}
.new-row .new-content p {
  margin-bottom: 15px;
  margin-right: 108px;
  line-height: 1.2;
  margin-left: 13px;
}
.new-row .new-content span {
  padding: 0 0 0 15px;
}
.new-row .new-btn {
  border-radius: 10px;
  padding: 1px 13px 1px 13px;
  font-size: 20px;
  margin-bottom: 54px;
  margin-top: 17px;
  word-spacing: 2px;
}

.card .card-body {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 40px;
  margin-left: 15px;
  padding: 0 0 62px;
  margin-right: 3px;
}
/* sec-trending */
.sec-trending .trending-ttl {
  padding-top: 92px;
  padding-bottom: 41px;
  font-size: 30px;
  margin-left: 4px;
}
/* happening now  */
.sec-happening ul {
    text-align: center;
    padding: 0 207px;
}
.left-rail {
  width: 100%;
}
.right-rail {
  width: 100%;
}
.right-card {
  position: relative;
  margin-bottom: 28px;
}
.right-card img {
  width: 100%;
  height: 430px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.right-card .right-txt h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}
.right-card .right-txt {
  position: absolute;
  color: var(--text-color);
  bottom: 70px;
  left: 40px;
  font-size: 18px;
}
/* footer */
.social {
  margin-top: 30px;
}
}

/* mobile */
@media screen and (max-width:767.9px) {
   /*  */
   .sec-happening ul {
    text-align: center;
    padding: 0 210px;
}
/* happening now  */
.sec-happening ul {
  text-align: center;
  padding: 0 207px;
}
.left-rail {
width: 100%;
}
.right-rail {
width: 100%;
}
.right-card {
position: relative;
margin-bottom: 28px;
}
.right-card img {
width: 100%;
height: 430px;
border-radius: 10px;
margin-bottom: 20px;
}
.right-card .right-txt h3 {
margin-bottom: 10px;
font-size: 18px;
font-weight: 700;
}
.right-card .right-txt {
position: absolute;
color: var(--text-color);
bottom: 70px;
left: 40px;
font-size: 18px;
}
}